<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.cloud.repo.ArticleCateMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fish.cloud.bean.model.ArticleCate">
		<id column="cate_id" property="cateId" />
		<result column="shop_id" property="shopId" />
		<result column="p_id" property="pId" />
		<result column="cate_name" property="cateName" />
		<result column="icon" property="icon" />
		<result column="pic" property="pic" />
		<result column="grade" property="grade" />
		<result column="seq" property="seq" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

</mapper>
