<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.cloud.repo.OrderSettlementMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fish.cloud.bean.model.OrderSettlement">
		<id column="settlement_id" property="settlementId" />
		<result column="order_id" property="orderId" />
		<result column="order_number" property="orderNumber" />
		<result column="pay_type" property="payType" />
		<result column="pay_type_name" property="payTypeName" />
		<result column="pay_amount" property="payAmount" />
		<result column="pay_number" property="payNumber" />
		<result column="pay_status" property="payStatus" />
		<result column="biz_pay_number" property="bizPayNumber" />
		<result column="is_clear" property="isClear" />
		<result column="clear_time" property="clearTime" />
		<result column="user_id" property="userId" />
		<result column="shop_id" property="shopId" />
		<result column="create_time" property="createTime" />
		<result column="version" property="version" />
	</resultMap>

</mapper>
