<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.cloud.repo.ProdMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fish.cloud.bean.model.Prod">
		<id column="prod_id" property="prodId" />
		<result column="prod_code" property="prodCode" />
		<result column="prod_name" property="prodName" />
		<result column="pinyin" property="pinyin" />
		<result column="shop_id" property="shopId" />
		<result column="cate_id" property="cateId" />
		<result column="brand_id" property="brandId" />
		<result column="ori_price" property="oriPrice" />
		<result column="price" property="price" />
		<result column="mem_price" property="memPrice" />
		<result column="unit_id" property="unitId" />
		<result column="brief" property="brief" />
		<result column="content" property="content" />
		<result column="sold" property="sold" />
		<result column="stock" property="stock" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="puton_time" property="putonTime" />
		<result column="version" property="version" />
	</resultMap>

	<resultMap id="prodDtoMap" type="com.fish.cloud.bean.dto.ProdDto">
		<result column="prod_id" property="prodId" />
		<result column="prod_code" property="prodCode" />
		<result column="prod_name" property="prodName" />
		<result column="pinyin" property="pinyin" />
		<result column="shop_id" property="shopId" />
		<result column="cate_id" property="cateId" />
		<result column="brand_id" property="brandId" />
		<result column="ori_price" property="oriPrice" />
		<result column="price" property="price" />
		<result column="mem_price" property="memPrice" />
		<result column="unit_id" property="unitId" />
		<result column="brief" property="brief" />
		<result column="sold" property="sold" />
		<result column="stock" property="stock" />
		<result column="status" property="status" />
		<result column="img" property="img" />
		<result column="cate_name" property="cateName" />
		<result column="unit_name" property="unitName" />
		<result column="puton_time" property="putonTime" />
	</resultMap>

	<resultMap id="prodDetailDtoMap" type="com.fish.cloud.bean.dto.ProdDetailDto">
		<result column="prod_id" property="prodId" />
		<result column="prod_code" property="prodCode" />
		<result column="prod_name" property="prodName" />
		<result column="pinyin" property="pinyin" />
		<result column="shop_id" property="shopId" />
		<result column="cate_id" property="cateId" />
		<result column="brand_id" property="brandId" />
		<result column="ori_price" property="oriPrice" />
		<result column="price" property="price" />
		<result column="mem_price" property="memPrice" />
		<result column="unit_id" property="unitId" />
		<result column="brief" property="brief" />
		<result column="sold" property="sold" />
		<result column="stock" property="stock" />
		<result column="status" property="status" />
		<result column="img" property="img" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="puton_time" property="putonTime" />
		<result column="cate_name" property="cateName" />
		<result column="unit_name" property="unitName" />
		<collection property="imgs" javaType="list" ofType="com.fish.cloud.bean.dto.ProdImgDto">
			<result column="img_id" property="imgId" />
			<result column="img_url" property="imgUrl" />
			<result column="upload_time" property="uploadTime" />
			<result column="link_id" property="linkId" />
			<result column="link_cate" property="linkCate" />
		</collection>
	</resultMap>

	<sql id="prodDto_SQL">
        p.`prod_id`,
        p.`prod_code`,
        p.`prod_name`,
        p.`pinyin`,
        p.`shop_id`,
        p.`cate_id`,
        p.`brand_id`,
        p.`ori_price`,
        p.`price`,
        p.`mem_price`,
        p.`unit_id`,
        p.`brief`,
        p.`sold`,
        p.`stock`,
        p.`status`,
        p.`puton_time`,
        cate.`cate_name`,
        kv.`value` as `unit_name`
    </sql>

	<sql id="prodDetailDto_SQL">
  		p.`prod_id`,
        p.`prod_code`,
        p.`prod_name`,
        p.`pinyin`,
        p.`shop_id`,
        p.`cate_id`,
        p.`brand_id`,
        p.`ori_price`,
        p.`price`,
        p.`mem_price`,
        p.`unit_id`,
        p.`brief`,
        p.`sold`,
        p.`stock`,
        p.`status`,
        p.`puton_time`,
        cate.`cate_name`,
        kv.`value` as `unit_name`,
        img.`img_id`,
        img.`img_url`,
        img.`link_id`,
        img.`upload_time`,
        img.`link_cate`
    </sql>

	<!--全部	-->
	<select id="listByCate" resultMap="prodDtoMap">
		SELECT
		<include refid="prodDto_SQL"/>
		FROM cloud_prod p
		LEFT JOIN cloud_prod_cate cate ON  p.`cate_id` = cate.`cate_id`
		LEFT JOIN cloud_sys_dic_kv kv ON p.`unit_id` = kv.`key` AND kv.`dic_code` = 'D0001'
		WHERE p.`shop_id` = #{shopId} AND p.`status` != -1
		<if test="prodByCateParam.cateId != null and prodByCateParam.cateId != ''">
			AND p.`cate_id`=#{prodByCateParam.cateId}
		</if>
		<if test="prodByCateParam.keyword != null and prodByCateParam.keyword != ''">
			AND (p.`prod_code` LIKE CONCAT('%',#{prodByCateParam.keyword},'%')
			OR p.`prod_name` LIKE CONCAT('%',#{prodByCateParam.keyword},'%')
			OR p.`pinyin` LIKE CONCAT('%',#{prodByCateParam.keyword},'%'))
		</if>
		ORDER BY p.`puton_time`
	</select>

	<!--详情	-->
	<select id="detail" resultMap="prodDetailDtoMap">
		SELECT <include refid="prodDetailDto_SQL"/>
		FROM cloud_prod p
		LEFT JOIN cloud_prod_cate cate ON  p.`cate_id` = cate.`cate_id`
		LEFT JOIN cloud_sys_dic_kv kv ON p.`unit_id` = kv.`key` AND kv.`dic_code` = 'D0001'
		LEFT JOIN cloud_prod_img img ON  p.`prod_id` = img.`link_id` AND img.link_type = 1
		WHERE p.`prod_id` = #{id} AND p.`status` != -1
	</select>
</mapper>
