<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.cloud.repo.ProdPropMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fish.cloud.bean.model.ProdProp">
		<id column="prop_id" property="propId" />
		<result column="shop_id" property="shopId" />
		<result column="prop_name" property="propName" />
		<result column="prop_value" property="propValue" />
	</resultMap>

</mapper>
