<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.cloud.repo.ShopImgMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fish.cloud.bean.model.ShopImg">
		<id column="img_id" property="imgId" />
		<result column="img_url" property="imgUrl" />
		<result column="img_type" property="imgType" />
		<result column="img_size" property="imgSize" />
		<result column="upload_time" property="uploadTime" />
		<result column="link_type" property="linkType" />
		<result column="link_id" property="linkId" />
		<result column="link_cate" property="linkCate" />
	</resultMap>

</mapper>
