<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.cloud.repo.CartMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fish.cloud.bean.model.Cart">
		<id column="cart_id" property="cartId" />
		<result column="shop_id" property="shopId" />
		<result column="table_id" property="tableId" />
		<result column="user_id" property="userId" />
		<result column="prod_id" property="prodId" />
		<result column="sku_id" property="skuId" />
		<result column="prod_prop" property="prodProp" />
		<result column="num" property="num" />
		<result column="cart_time" property="cartTime" />
	</resultMap>

	<resultMap id="cartDtoMap" type="com.fish.cloud.bean.dto.CartDto">
		<result column="cart_id" property="cartId" />
		<result column="shop_id" property="shopId" />
		<result column="user_id" property="userId" />
		<result column="prod_id" property="prodId" />
		<result column="sku_id" property="skuId" />
		<result column="num" property="num" />
		<result column="cart_time" property="cartTime" />
		<!--店铺-->
		<result column="shop_name" property="shopName" />
		<!--商品-->
		<result column="prod_code" property="prodCode" />
		<result column="prod_name" property="prodName" />
		<result column="pinyin" property="pinyin" />
		<result column="shop_id" property="shopId" />
		<result column="cate_id" property="cateId" />
		<result column="brand_id" property="brandId" />
		<result column="ori_price" property="oriPrice" />
		<result column="price" property="price" />
		<result column="mem_price" property="memPrice" />
		<result column="unit_id" property="unitId" />
		<result column="unit_name" property="unitName" />
		<result column="brief" property="brief" />
		<result column="sold" property="sold" />
		<result column="stock" property="stock" />
		<result column="status" property="status" />
		<result column="img" property="img" />
		<!--		sku-->
		<result column="barcode" property="barcode" />
		<result column="sku_name" property="skuName" />
		<result column="sku_ori_price" property="skuOriPrice" />
		<result column="sku_price" property="skuPrice" />
		<result column="sku_stock" property="skuStock" />
		<result column="sku_img" property="skuImg" />

		<result column="sku_enabled" property="skuEnabled"></result>
	</resultMap>

	<sql id="cartDto_SQL">
 		cart.`cart_id`,
        cart.`shop_id`,
        cart.`user_id`,
        cart.`prod_id`,
        cart.`sku_id`,
        cart.`num`,
        cart.`cart_time`,
        s.`shop_name`,
        p.`prod_code`,
        p.`prod_name`,
        p.`pinyin`,
        p.`shop_id`,
        p.`cate_id`,
        p.`brand_id`,
        p.`ori_price`,
        p.`price`,
        p.`mem_price`,
        p.`unit_id`,
        p.`brief`,
        p.`sold`,
        p.`stock`,
        p.`img`,
        p.`sku_enabled`,
        p.`status`,
        sku.`barcode`,
        sku.`sku_name`,
        sku.`ori_price` AS `sku_ori_price`,
        sku.`price` AS `sku_price`,
        sku.`stock` AS `sku_stock`,
        sku.`img` AS `sku_img`,
        kv.`value` as `unit_name`
    </sql>

	<!--全部	-->
	<select id="all" resultMap="cartDtoMap">
		SELECT
		<include refid="cartDto_SQL"/>
		FROM cloud_cart cart
		LEFT JOIN  cloud_shop s ON cart.shop_id = s.`shop_id`
		LEFT JOIN  cloud_prod p ON cart.prod_id = p.`prod_id`
		LEFT JOIN cloud_prod_sku sku ON cart.`prod_id` = sku.`prod_id` AND cart.`sku_id` = sku.`sku_id`
		LEFT JOIN cloud_sys_dic_kv kv ON p.`unit_id` = kv.`key` AND kv.`dic_code` = 'D0001'
		WHERE  cart.`table_id` = #{tableId}
		<if test="shopId != null and shopId!=0 ">
			AND cart.`shop_id` = #{shopId}
		</if>

	</select>

	<!--根据Ids获取列表	-->
	<select id="listByCartIds" resultMap="cartDtoMap">
		SELECT
		<include refid="cartDto_SQL"/>
		FROM cloud_cart cart
		LEFT JOIN  cloud_shop s ON cart.shop_id = s.`shop_id`
		LEFT JOIN  cloud_prod p ON cart.prod_id = p.`prod_id`
		LEFT JOIN cloud_prod_sku sku ON cart.`prod_id` = sku.`prod_id` AND cart.`sku_id` = sku.`sku_id`
		LEFT JOIN cloud_sys_dic_kv kv ON p.`unit_id` = kv.`key` AND kv.`dic_code` = 'D0001'
		WHERE  cart.cart_id IN
		<foreach collection="cartIds" item="cartId" open="(" close=")" separator=",">
			#{cartId}
		</foreach>

	</select>

</mapper>
