<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.cloud.repo.UserReqRecordMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fish.cloud.bean.model.UserReqRecord">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="ip" property="ip" />
		<result column="oper" property="oper" />
		<result column="method" property="method" />
		<result column="params" property="params" />
		<result column="time" property="time" />
		<result column="create_time" property="createTime" />
	</resultMap>

</mapper>
