<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.cloud.repo.RefundMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fish.cloud.bean.model.Refund">
		<id column="refund_id" property="refundId" />
		<result column="shop_id" property="shopId" />
		<result column="order_id" property="orderId" />
		<result column="order_number" property="orderNumber" />
		<result column="order_amount" property="orderAmount" />
		<result column="order_item_id" property="orderItemId" />
		<result column="refund_number" property="refundNumber" />
		<result column="flow_trade_number" property="flowTradeNumber" />
		<result column="out_refund_number" property="outRefundNumber" />
		<result column="pay_type" property="payType" />
		<result column="pay_type_name" property="payTypeName" />
		<result column="user_id" property="userId" />
		<result column="prod_num" property="prodNum" />
		<result column="refund_amount" property="refundAmount" />
		<result column="refund_status" property="refundStatus" />
		<result column="return_money_status" property="returnMoneyStatus" />
		<result column="apply_type" property="applyType" />
		<result column="apply_time" property="applyTime" />
		<result column="handle_time" property="handleTime" />
		<result column="refund_time" property="refundTime" />
		<result column="imgs" property="imgs" />
		<result column="buyer_msg" property="buyerMsg" />
		<result column="seller_msg" property="sellerMsg" />
		<result column="dvy_name" property="dvyName" />
		<result column="dvy_number" property="dvyNumber" />
		<result column="dvy_time" property="dvyTime" />
		<result column="receive_time" property="receiveTime" />
		<result column="receive_remark" property="receiveRemark" />
	</resultMap>

</mapper>
